@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-base:#f3f5fc;
    --color-primario:#0A3871;
    --color-secundario:#ffffff;
    --color-terciario:#495057;
    --color-cinco:#D8DFE8;
    --color-hover:#272727;

    --fuente-inter:'Inter';
}

*{
    padding: 0;
    margin: 0; 
}

.contenedor{
    background-color: var(--color-base);
    position: relative;
    width: 100vw;
    height:100vh;
}

.text__encript{
    background-color: var(--color-base);
    position: absolute;
    width: 50%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-inter);
    font-size: 32px;
    line-height: 150%;
    color: var(--color-primario);   
}

.text__encript::placeholder{
    color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.text__encript:focus{
    border: none;
}

.condiciones{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 70%;
    left: 12%;
    top: 80%;
}

.condiciones p{
    flex: none;
    font-family: var(--fuente-inter);
    font-size: 12px;
    line-height: 150%;
    color: var(--color-hover);
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items:flex-start;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn_encriptado{
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 18px;
    text-align: center;
    color: var(--color-secundario);
    border-color: var(--color-primario);
    border-radius: 24px;
    padding: 2%;
    width: 25%;
    gap: 8px;

}
.btn_encriptado:hover{
    background-color: #154885;
}

.btn_desencriptar{
    background-color: var(--color-cinco);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--fuente-inter);
    font-size: 18px;
    text-align: center;
    color: var(--color-primario);
    border-color: var(--color-primario);
    border-radius: 24px;
    padding: 2%;
    width: 25%;
    gap: 8px;
}

.btn_desencriptar:hover{
    background-color: #bfc8d1;
}

.btn_copiar{
    background-color: var(--color-base);
    border-radius: 24px;
    border-color: var(--color-primario);
    padding: 2%;
    width: 50%;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--fuente-inter);
    font-size: 18px;
}

.contenedor__encript{
    background-color: var(--color-secundario);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top:5%
}

.contenedor__encript img{
    position: absolute;
    width: 70%;
    height: 50%;
    top:20%;

}

.mensaje__encript{
    display: flex;
    flex-direction:column;
    position: absolute;
    padding: 1%;
    gap:16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    top:60%;  
}
.mensaje__encript h3{
    font-family: var(--fuente-inter);
    color: var(--color-hover);
    width: 60%;
    font-size: 24px;
    text-align: center;
}

.msj__texto{
    background-color: transparent;
    border-radius: 24px;
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 480px;
    left: 0;
    top: 0;
    border: none;
    resize: none;
    font-family: var(--fuente-inter);
    font-size: 24px;
    line-height: 36px;
    color: var(--color-hover);
}

/* **** Media Query Responsivo **** */
@media(max-width:900px){
    .contenedor{
        display: flex;
        flex-direction: row;
    }

    .contenedor__areaencript{
        width: 100%;
    }
    
    .text__encript{
        width: 80%;
        height: 60%;
        left: 10%;
        top:5%
    }

    .condiciones{
        width: 80%;
        left: 10%;
        top: 60%;
    }
    .buttons{
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn_encriptado,.btn_desencriptar{
        width: 50%;
    }

    .btn_encriptado:hover,.btn_desencriptar:hover{
        width: 48%;
        padding: 1%;
    }

    .contenedor__encript{
        width: 80%;
        height: 20%;
        left: 10%;
        top: 80%;
    }
    .mensaje__encript{
        width: 100%;
        top: 5%;
    }

    .contenedor__encript img{
        display: none;
        top: 0%;
        visibility: hidden;
    }


}