@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-base:#f3f5fc;
    --color-primario:#0A3871;
    --color-secundario:#ffffff;
    --color-terciario:#495057;
    --color-cinco:#D8DFE8;
    --color-hover:#272727;

    --fuente-inter:'Inter';
}

*{
    padding: 0;
    margin: 0; 
}

.contenedor{
    background-color: var(--color-base);
    position: relative;
    width: 100vw;
    height:100vh;
}

.text__encript{
    background-color: var(--color-base);
    position: absolute;
    width: 50%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: var(--fuente-inter);
    font-size: 32px;
    line-height: 150%;
    color: var(--color-primario);   
}

.text__encript::placeholder{
    color: var(--color-primario);
    font-family: var(--fuente-inter);
}

.text__encript:focus{
    border: none;
}

.condiciones{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 70%;
    left: 12%;
    top: 80%;
}

.condiciones p{
    flex: none;
    font-family: var(--fuente-inter);
    font-size: 12px;
    line-height: 150%;
    color: var(--color-hover);
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 1%;
    align-items:flex-start;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn_encriptado{
    background-color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 18px;
    text-align: center;
    color: var(--color-secundario);
    border-color: var(--color-primario);
    border-radius: 24px;
    padding: 2%;
    width: 25%;
    gap: 8px;

}
.btn_encriptado:hover{
    background-color: #154885;
}

.btn_desencriptar{
    background-color: var(--color-cinco);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--fuente-inter);
    font-size: 18px;
    text-align: center;
    color: var(--color-primario);
    border-color: var(--color-primario);
    border-radius: 24px;
    padding: 2%;
    width: 25%;
    gap: 8px;
}

.btn_desencriptar:hover{
    background-color: #bfc8d1;
}

.contenedor__encript{
    background-color: var(--color-secundario);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top:5%
}

.mensaje__encript{
    display: flex;
    flex-direction:column;
    position: absolute;
    padding: 1%;
    gap:16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    top:60%;  
}
.mensaje__encript h3{
    font-family: var(--fuente-inter);
    color: var(--color-hover);
    width: 60%;
    font-size: 24px;
    text-align: center;
}